.box{
    margin: auto;
    width: 50%;
    height: auto;
    background-color: #f48942;
    color:black;
    box-shadow: black 1px 1px;
    padding: 15px;
    margin-bottom:10px;
}

input{
    display: block;
    height: 2em;
    font-family: Arial, sans-serif;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;

}

h5{
    text-align: center;
}


.autocomplete-text{
    padding-bottom: 5px;
}

.autocomplete-text:hover{
    background-color:lightgray;
}

legend{
    /*padding-top: 5px;*/
}