html, body{
    margin: 0;
    padding: 0;
    font-family: 'Krub', sans-serif;
}

#container{
    text-align: center;
}

.header{
    height:150px;
    width: 100%;
    background-color: rgba(19, 5, 5, 0.8);
    color: white;
    position: relative;
}

.indexLink{
    color: white;
    text-decoration: none;
}


.header-tabs{
    position:absolute;
    bottom:10px;
    right: 20px;
}

.header-tabs a{
    font-size: 120%;
    text-decoration: none;
    color:white;
    padding-right: 10px;
}

.header-tabs a:hover{
    color:gray;
}

h1{
    margin: 0;
    padding: 20px;
    text-align: center;
}

.mainHeading{
    width: 30%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.secondaryHeading{
    width: 30%;
    margin: auto;
    text-align: center;
}

#logout-form{
    margin: 0;
    padding: 0;
    display: inline;
}

input{
    font-family: 'Krub', sans-serif;
}
.navigation {


}

.user-info {
    display: inline;

    /*width: 50%;*/
    /*display: flex;*/
    /*flex-direction: column;*/

    font-size: 120%;
    text-decoration: none;
    color:white;
    padding-right: 10px;
}

.user-name {
    display: inline;
    position: absolute;
    bottom: -10px;
    left: 170px;
}

.user-credit {
    position: absolute;
    bottom: -10px;
    left: 20px;
}

.user-img {
    width: 41%;
    position: absolute;
    left: -23px;
    bottom: 20px;
}

input[type=submit], button{
    background-color: white;
}

.counter-btn{
    font-size: 1.5em;
}

.three-btn{
    width:60%;
    display: inline;
    height: 50px;
    background-color: white;
}

.three-btn:hover{
    background-color: lightcyan;
}

.three-buttons{
    display: inline;
}

.userpage-form{
    display: inline;
}

input[type=submit]:hover {
    background-color: lightcyan;
}